/* src/styles/global.css */

/* Define a fonte GreyQo-Regular */
@font-face {
  font-family: 'GreyQo-Regular';
  src: url('/fonts/GreyQo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Aplica a fonte para todo o projeto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, Avenir, Helvetica, GreyQo-Regular, sans-serif;
}

/* Aplica a fonte GreyQo-Regular ao corpo do documento */
body {
  font-family: 'GreyQo-Regular', cursive;
}
